@model PagedList.IPagedList<Model.EF.Contact>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Quản lí người dùng";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section header{
    Danh sách liên hệ
}
@section jsFooter{
    <script src="/assets/admin/js/controller/contactController.js"></script>
}
<div class="row">
    <div class="col-lg-12">
        <div class="container-fluid">

            <!-- Page Heading -->
            <h1 class="h3 mb-2 text-gray-800"></h1>

            <!-- DataTales Example -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary"></h6>
                </div>
                <div class="card-body">
                    @using (Html.BeginForm("ContactIndex", "AdminManage", FormMethod.Get))
                    {
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="col-md-4">
                                    <input type="text" class="form-control" name="searchString" />
                                </div>
                                <br />
                                <div class="col-md-4">
                                    <button type="submit" class="btn btn-primary">Tìm kiếm</button>
                                </div>
                            </div>
                        </div>
                    }
                    <br />
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>

                                    <th>CustomerID</th>
                                    <th>Nội dung</th>
                                    <th>Trạng trái</th>
                                    <th>#</th>
                                </tr>
                            </thead>
                            <tfoot>

                            </tfoot>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr id="row_@item.ID">
                                        <td>@item.CustomerID</td>
                                        <td>@item.Content</td>
                                        <th><a href="#" class="btn-active" data-id="@item.ID">@(item.Status ? "Đã trả lời" : "Chưa trả lời")</a></th>
                                        <td>
                                            |
                                            @Ajax.ActionLink("Xóa", "DeleteContact", new { @id = item.ID }, new AjaxOptions
                                       {
                                           Confirm = "Bạn có muốn xóa bản ghi này!",
                                           OnComplete = "$('#row_" + @item.ID + " ').remove()",
                                           HttpMethod = "Delete"
                                       })
                                        </td>
                                    </tr>

                                }
                            </tbody>
                        </table>
                        @Html.PagedListPager(Model, page => Url.Action("ContactIndex", new { page }))
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container-fluid -->
    </div>
</div>

