@model PagedList.IPagedList<Model.EF.Credential>
@using PagedList.Mvc;
@{
    ViewBag.Title = "ProductIndex";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section header{
    Danh sách quyền của mod
}
<div class="row">
    <div class="col-lg-12">
        <div class="container-fluid">

            <!-- Page Heading -->
            <h1 class="h3 mb-2 text-gray-800"></h1>

            <!-- DataTales Example -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary"></h6>
                </div>
                <div class="card-body">
                    @using (Html.BeginForm("ListModIndex", "AdminManage", FormMethod.Get))
                    {
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="col-md-4">
                                    <input type="text" class="form-control" name="searchString" />
                                </div>
                                <br />
                                <div class="col-md-4">
                                    <button type="submit" class="btn btn-primary">Tìm kiếm</button>
                                </div>
                            </div>
                        </div>
                    }
                    <br />
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Tên mod</th>
                                    <th>Quyền mod</th>
                                    <th>#</th>
                                </tr>
                            </thead>
                            <tfoot>

                            </tfoot>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr id="row_@item.ID" >
                                        <td>@item.UserGroupID</td>
                                        <td>@item.RoleID</td>
                                        <td>
                                           
                                            @Ajax.ActionLink("Xóa", "DeleteMod", new { @id = item.ID }, new AjaxOptions
                                       {
                                           Confirm = "Bạn có muốn xóa bản ghi này!",
                                           OnComplete = "$('#row_" + @item.ID + " ').remove()",
                                           HttpMethod = "Delete"
                                       })
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        <a class="btn btn-primary" href="/Admin/AdminManage/CreateMod/">Thêm</a>
                        @Html.PagedListPager(Model, page => Url.Action("ListModIndex", new { page }))
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container-fluid -->
    </div>
</div>

